.advanceMode {
  width: 100%;
  margin: 0 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.advanceModeLabel {
  margin-top: 16px;
  margin-left: auto;
  display: flex;
}
.advanceContainer {
  width: 100%;
}
