@import "../../colors.scss";
.root {
  position: relative;
}
.root,
.rail,
.thumb,
.track {
  border-radius: 0;
  height: 24px;
  color: transparent;
}

.rail {
  background: rgba(#000, 0.3);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.45) 0%,
    rgba(0, 0, 0, 0.89) 100%
  );
}

.thumb {
  background-color: #fff;
  top: 50%;
  width: 24px;
  margin: 0;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 6px rgba(#000, 0.4);
  border-radius: 50%;
}

.track {
  background-color: $light;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
