@import "../../colors.scss";

.thumb {
  top: 7px;
  border: 4px solid currentColor;
  // background: transparent;
  height: 24px;
  width: 24px;
}
.mark,
.markActive,
.rail,
.track {
  background: transparent;
}
