.colors {
  // display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
}

.label {
  margin-bottom: 8px;
}
.choose {
  width: 100%;
  // margin-left: auto;
}

.huePicker {
  margin-top: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100% !important;
}
